{% extends 'base.html' %}
{% block title %}
    SuperScanner
    
{% endblock %}
{% block content %}
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center" style="color:#023047; background-color: #023047; font-family: Impact, fantasy;">
        <div class="col-md-5 p-lg-5 mx-auto my-5" style="background-color: #FFB703; border-radius: 20%;">
            <h1 class="display-4 font-weight-normal">SuperScanner</h1>
            <p class="lead font-weight-normal">Welcome to SuperScanner's Website!</p>
            <!-- <img src="/static/logo.png" alt="Logo" style="height: 70%; width: 70%;"> -->
        </div>
        <div class="product-device box-shadow d-none d-md-block"></div>
        <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
        
        <!-- Carousel in the first page -->
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="width: 80%; margin: auto; height: 40%;">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="static/logo.png" class="d-block w-100" alt="logo">
              </div>
              <div class="carousel-item">
                <img src="static/c2.jpeg" class="d-block w-100" alt="scanner">
              </div>
              <div class="carousel-item">
                <img src="static/c3.jpg" class="d-block w-100" alt="people riding bikes">
              </div>
              <div class="carousel-item">
                <img src="static/stats.jpg" class="d-block w-100" alt="statistics">
              </div>
              <div class="carousel-item">
                <img src="static/bikeshare.jpg" class="d-block w-100" alt="bike share cartoon">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>

    <div>
     
    </div>
    
    <!-- Notification material    -->
    <script>
      window.onload = () => {
      if (Notification.permission === "default") {
        Notification.requestPermission().then(perm => {
          if (Notification.permission === "granted") {
            regWorker().catch(err => console.error(err));
          } else {
            alert("Please allow notifications.");
          }
        });
      } 
     
      else if (Notification.permission === "granted") {
        regWorker().catch(err => console.error(err));
      }
     
      else { alert("Please allow notifications."); }
    }
  </script>
  
  <script>
    // (B) REGISTER SERVICE WORKER
  async function regWorker () {
    // (B1) YOUR PUBLIC KEY - CHANGE TO YOUR OWN!
    const publicKey = "BB13gxL9D3IlmW1AA64sbbVZQQp1DQBy0Rqz0zb-CkEAvjh70B2eB4GvAuvHzKqAlOcrc_JdjBfobhG-wamzNyA";
   
    // (B2) REGISTER SERVICE WORKER
    navigator.serviceWorker.register("sw.js", { scope: "/" });
   
    // (B3) SUBSCRIBE TO PUSH SERVER
    navigator.serviceWorker.ready
    .then(reg => {
      reg.pushManager.subscribe({
        userVisibleOnly: true,
        applicationServerKey: publicKey
      }).then(
        // (B3-1) OK - TEST PUSH NOTIFICATION
        sub => {
          var data = new FormData();
          data.append("sub", JSON.stringify(sub));
          fetch("/push", { method:"POST", body:data })
          .then(res => res.text())
          .then(txt => console.log(txt))
          .catch(err => console.error(err));
        },
   
        // (B3-2) ERROR!
        err => console.error(err)
      );
    });
  }
  </script>
{% endblock %}
