bcrypt==4.0.1
certifi==2022.9.24
cffi==1.15.1
charset-normalizer==2.1.1
click
cryptography==38.0.4
decorator==5.1.1
dnspython==2.2.1
ecdsa==0.18.0
email-validator==1.3.0
Flask
Flask-Bcrypt
Flask-WTF
future==0.18.2
geocoder==1.38.1
googlemaps==4.7.3
gunicorn==20.1.0
http-ece==1.1.0
idna==3.4
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
numpy
opencv-python
py-vapid==1.9.0
pycparser==2.21
PyMySQL==1.0.2
pywebpush==1.14.0
pyzbar
pyzbar[scripts]
ratelim==0.1.6
requests
six
urllib3
Werkzeug
WTForms
zipp
