body{
  background-color: LightYellow;

  --background:lightyellow;
  --primary-color-darker: darkslateblue;
  --primary-color: mediumslateblue;
  --color-error: FireBrick;
  --color-success: LimeGreen;
  --secondary-color: navy;
  --border-radius: 4px;

  margin: 0;
  height: 100vh;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  font-size: 18px;
}
h1{
  text-align: center;
  color: MediumBlue;
  display: block;
}
p{
  text-align: center;
}

/*
.container{
  position:center;
  width: 400px;
  max-width:400px;
  margin: 1 rem;
  padding: 2 rem;
  box-shadow: 0 0 40px Black(0,0,0,0.2);
  border-radius: 10px;
  background: white;
  box-shadow: 0 5px 10px rgba(0 0 0 0.1);
}

*/

.container .form{
  padding: 30px;
}

.container,
.form__input,
.form__button{
  font: 500 1rem 'Quicksand', sans-serif
}

.form--hidden{
  display:none;
}

.form__title{
  margin-bottom: 2rem;
  text-align: center;
}

.form__message{
  text-align: center;
  margin-bottom: 1rem;
}

.form__message--success{
  color:var(--color-success);
}

.form__message--error{
  color:var(--color-error);
}

.form__input-group{
  margin-bottom: 1rem;
}

.form__input{
  display:block;
  margin: auto;
  width:30%;
  padding:0.75rem;
  box-sizing: border-box;
  border-radius: var(--border-radius);
  border: 1px solid lightgrey;
  outline:none;
  background: whitesmoke;
  transition: background 0.2s, border-color 0.2s
}

.form__input:focus{
  border-color: var(--background);
  background:white;
}

.form__input--error{
  color: var(--color-error);
  border-color: var(--color-error);
}

.form__input-error-message{
  width: 30%;
  margin-top: 0.5rem;
  font-size: 0.85rem;
  color: var(--color-error);
}

.form__button{
  width: 10%;
  margin: auto;
  display: block;
  padding: 1rem, 2rem;
  font-weight: bold;
  font-size: 1.1rem;
  color: white;
  border:none;
  border-radius: var(--border-radius);
  outline: none;
  cursor: pointer;
  background: var(--primary-color);
}

.form__botton:hover{
  background: var(--primary-color-darker);
}

.form__botton:active{
  transform: scale(0.98);
}

.form__text{
  text-align: center;
}

.form__link{
  color: var(--secondary-color);
  text-decoration: none;
  cursor: pointer;
}

.form__link:hover{
  text-decoration: underline;
}

.checkbox-text{
  display:flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
}

.checkbox-text .checkbox-content{
  display:flex;
  align-items: center;
}

.checkbox-content input{
  margin: 0 8px  4px;
  accent-color: #4070f4;
  text-align: center;
}
