{% extends 'base.html' %}
{% block title %}
    About
{% endblock %}

{% block content %}

<!-- About page on how the website works and introducing features -->
<body class="text-center">
    <div class="container">
        <img src="/static/smallerlogo.png" alt="Logo" style="height: 10%; width: 10%; padding: 10px;">
        <br></br>
        <h1 style="color: #FB8500; font-family: Georgia, serif; font-size: xx-large; font-weight: bold;">About Page</h1>
        <p style="text-align: center; color:white; font-family:Georgia, serif; font-size:larger; margin: 50px;"> 
            <br>SuperScanner is an app that focuses on bike shares. We want to provide shared bike data to users and help them to find nearby bike services more quickly. In addition, we also have a scanner function for the user to scan and unlock the bike more conveniently.</br>
            <br>The user should only have to register/login once into our app to have the access of our services. </br>  
            <br>When you register an account with us, you will be asked to provide your apple ID, password, and your credit card information.</br>
            <br>After the login, you can navigate our services using the toolbar</br>
            <br>We provide some basic information on bike sharing. For example, you can use the clickable map to see some bike sharing companies in your state.<br>
            <br>For the scanning feature, SuperScanner will scan the QR code properly to recognize to redirect you to the correct website. </br>
            <br>The user can also explore more of our features, such as getting live information on docks nearby. <br>
        </p>
        <img src="/static/card.png" alt="card" style="height: 15%; width: 15%; padding: 20px;">
        <img src="/static/qrscans.png" alt="scan" style="height: 15%; width: 15%; padding: 20px;">
        <img src="/static/bikes.png" alt="bike" style="height: 15%; width: 15%; padding: 20px;">
    </div>
</body>

{% endblock %}