{% extends 'base.html' %}
{% block title %}
    About
{% endblock %}

{% block content %}

<body class="text-center">
    <div class="container">
        <img src="/static/smallerlogo.png" alt="Logo" style="height: 10%; width: 10%; padding: 10px;">
        <br></br>
        <h1 style="color: #FB8500; font-family: Georgia, serif; font-size: xx-large; font-weight: bold;">About Page</h1>
        <p style="text-align: center; color:white; font-family:Georgia, serif; font-size:larger; margin: 50px;"> 
            <br>
            SuperScanner is an app that focuses on bike shares. We want to build an all in one QR code scanning platform that provides users more convenience when it comes to bike shares!
            </br>
            <br>
            The user should only have to register/login once into our app to have the access of our services. 
            </br>  
            <br>
            When you register an account with us, you will be asked to provide your apple ID, password, and your credit card information.
            </br>
            <br>
            After the login, you can navigate our services using the toolbar at the top right.
            </br>
            <br>
            SuperScanner will scan the QR code properly to recognize to redirect you to the correct website. 
            It will then unlock the specific requested bike.
            </br>
        </p>
        <img src="/static/card.png" alt="card" style="height: 15%; width: 15%; padding: 20px;">
        <img src="/static/qrscans.png" alt="scan" style="height: 15%; width: 15%; padding: 20px;">
        <img src="/static/bikes.png" alt="bike" style="height: 15%; width: 15%; padding: 20px;">
    </div>
</body>

{% endblock %}