{% extends 'base.html' %}
{% block title %}
    Map
{% endblock %}

{% block content %}

<!-- Introducing the different categories of stations on the map -->
<body class="text-center">
    <div class="container">
        <img src="/static/smallerlogo.png" alt="Logo" style="height: 10%; width: 10%; padding: 10px;">
        <br>
        <h1 style="color: #FB8500; font-family: Georgia, serif; font-size: xx-large; font-weight: bold;">Map</h1>
        <p style="text-align: center; color:white; font-family:Georgia, serif; font-size:larger; margin: 50px;"> 
            This is a map on Citibike stations in New York City<br>
            You can click on each station below to get data <br>
            It is also categorized into five types of stations: <br>
            1. Coming soon (Colored in Yellow) <br>
            2. Empty (Colored in Red) <br>
            3. Low (Number of bikes less than 5) (Colored in Orange) <br>
            4. Normal (Colored in Green) <br>
            5. Out of order (Colored in Dark Blue) <br>
            You can use the tool on the top right of the map to select what category of stations you are looking for. <br>
            The summary table provided on the bottom right gives you a real time update on the number of stations.<br>
        </p>
    </div>
</body>

<!-- D3 library -->
<script src="https://d3js.org/d3.v5.min.js"></script>

<!-- MomentJS -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>

<!-- Leaflet JavaScript code -->
<script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
crossorigin=""></script>

<!-- polyfill.io is the library for using newer JavaScript features (such as Object.assign) in older browers. -->
<script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Sanchez" rel="stylesheet">

<!-- Leaflet CSS -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
crossorigin=""/>

<!-- Icons -->
<script src="../js/leaflet.extra-markers.min.js"></script>
<link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" href="../css/leaflet.extra-markers.min.css">
<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>


<div class="row m-0 d-flex justify-content-between"> 
    <div class="col-6 text-center p-0">
    <div class="box p-2">
    <p style="color:white; font-family:Georgia, serif;font-size: 22px;">Available Classic Bikes</p> 
     <span id="classic" class="center"></span> 
    </div>
  </div>

    <div class="col-6 text-center p-0">
    <div class="box p-2">
    <p style="color:white; font-family:Georgia, serif;font-size: 22px;">Available Electric Bikes </p> 
    <span id="electric" class="center"></span>
    </div>
  </div>
</div>

<!-- Connecting to JS for the map -->
<body class="text-center">
    <div id="map-id" style="width: 90vw; height: 80vh; margin: auto; padding: 20px;"></div>
    <script type="text/javascript" src="../js/map.js"></script>
</body>


{% endblock %}