{% extends 'base.html' %}
{% block title %}
    Bike Sharing Market
{% endblock %}

<!-- Introducing necessary market information on the shared bike market -->
{% block content %}
    <body class="text-center">
        <div class="container">
            <img src="/static/smallerlogo.png" alt="Logo" style="height: 10%; width: 10%; padding: 10px;">
            <br></br>
            <h1 style="color: #FB8500; font-family: Georgia, serif; font-size: xx-large; font-weight: bold;">Bike Sharing Market</h1>
            <p style="text-align: center; color:white; font-family:Georgia, serif; font-size:larger; margin: 50px;">
                Welcome to the bike sharing market information page. Here you can take a look at the bike sharing market.<br>
                <br>Bike sharing is a shared transportation service in which conventional bikes or electric bikes are made available for shared use to individuals for a short-term basis for a price or free.<br>
                <br>Users are able to pick up bicycles around the city from multiple docked or dock-less stations and return it at another same system. <br>
                <br>By 2022, approximately 3,000 cities worldwide offer bike-sharing systems. <br>
            </p> 
            <img src="/static/market.png" alt="market-info" style="height: 50%; width: 50%; padding: 20px;">
            <img src="/static/process.jpg.webp" alt="bikes-structure" style="height: 30%; width: 30%; padding: 20px;">

        </div>
    </body>

{% endblock %}