{% extends 'base.html' %}
{% block title %}
    Pricing
{% endblock %}

{% block content %}
    <body class="text-center">
        <div class="container">
            <img src="/static/smallerlogo.png" alt="Logo" style="height: 10%; width: 10%;">
            <br></br>
            <p class="h3 mb-3 font-weight-normal">Pricing Page</p>
            <p>Welcome to the pricing page. Here we provide different plans provided by shared-bike companies for you to compare the price</p> 
        </div>
    </body>

    <body class="body-style">
        <h2>Citi Bike</h2>
        <p>3 Plans:</p>
        <p>Annual Membership: $15/month (unlimited 45 minute ride)</p>
        <p>Single Ride: $3.99/trip (one ride up to 30 minutes)</p>
        <p>Day Pass: $15/day (unlimited 30 minutes rides in a 24-hour period)</p>

        <h2>Metro Bike</h2>
        <p>4 Plans:</p>
        <p>1-Ride: $1.75/30 minutes</p>
        <p>24-Hour Access: $5 to start (Rides under 30 minutes are free, $1.75/30 minutes after)</p>
        <p>30-Day Pass: $17/month (Rides under 30 minutes are free, $1.75/30 minutes after)</p>
        <p>365-Day Pass: $150/year (Rides under 30 minutes are free, $1.75/30 minutes after)</p>
        
        <h2>Bluebikes:</h2>
        <p>2 Plans:</p>
        <p>Monthly Membership: $26.75/month</p>
        <p>Annual Membership: $12/month</p>

    </body>

{% endblock %}