{% extends 'base.html' %}
{% block title %}
    Pricing
{% endblock %}

{% block content %}
    <body class="text-center">
        <div class="container">
            <img src="/static/smallerlogo.png" alt="Logo" style="height: 10%; width: 10%; padding: 10px;">
            <br></br>
            <h1 style="color: #FB8500; font-family: Georgia, serif; font-size: xx-large; font-weight: bold;">Pricing</h1>
            <p style="text-align: center; color:white; font-family:Georgia, serif; font-size:larger; margin: 50px;">Welcome to the pricing page. Here we provide different plans provided by shared-bike companies for you to compare the price</p> 
        </div>
    </body>

    <body class="body-style">
        <h2>Citi Bike</h2>
        <p style="text-align: center; color:white; font-family:Georgia, serif; font-size:larger; margin: 50px;">3 Plans:<br>
        Annual Membership: $15/month (unlimited 45 minute ride)<br>
        Single Ride: $3.99/trip (one ride up to 30 minutes)<br>
        Day Pass: $15/day (unlimited 30 minutes rides in a 24-hour period)<br>
        </p>

        <h2>Metro Bike</h2>
        <p style="text-align: center; color:white; font-family:Georgia, serif; font-size:larger; margin: 50px;">4 Plans:<br>
        1-Ride: $1.75/30 minutes<br>
        24-Hour Access: $5 to start (Rides under 30 minutes are free, $1.75/30 minutes after)<br>
        30-Day Pass: $17/month (Rides under 30 minutes are free, $1.75/30 minutes after)<br>
        365-Day Pass: $150/year (Rides under 30 minutes are free, $1.75/30 minutes after)<br>
        </p>
        
        <h2>Bluebikes:</h2>
        <p style="text-align: center; color:white; font-family:Georgia, serif; font-size:larger; margin: 50px;">2 Plans:<br>
        Monthly Membership: $26.75/month<br>
        Annual Membership: $12/month<br>
        </p>

    </body>

{% endblock %}