{% extends 'base.html' %}
{% block title %}
    Scanner
{% endblock %}

{% block content %}
    <body class="text-center">
        <div class="container">
            <img src="/static/smallerlogo.png" alt="Logo" style="height: 10%; width: 10%;">
            <br></br>
            <p class="h3 mb-3 font-weight-normal">Scanner Page</p>
            <p>Welcome to the scanner page. The scanner will appear here after you login.</p> 
            <br></br>
            <p>Place the QR Code in front of the camera to scan it.</p>
            <br></br>
            <p>You will be re-directed to the correct website after scanning.</p>
        </div>
    </body>

    {% if session.get('apple_id') %}
            <img src="{{ url_for('video') }}" width="50%" />
    {% endif %}

{% endblock %}