{% extends 'base.html' %}
{% block title %}
    Scanner
{% endblock %}

{% block content %}
    <body class="text-center">
        <div class="container">
            <img src="/static/smallerlogo.png" alt="Logo" style="height: 10%; width: 10%; padding: 10px;">
            <br></br>
            <h1 style="color: #FB8500; font-family: Georgia, serif; font-size: xx-large; font-weight: bold;">Scanner</h1>
            <p style="text-align: center; color:white; font-family:Georgia, serif; font-size:larger; margin: 50px;">Welcome to the scanner page. The scanner will appear here after you login.
            <br>
            Place the QR Code in front of the camera to scan it.
            <br>
            You will be re-directed to the correct website after scanning.</p>
        </div>
    </body>
    
    <!-- The user can use the scanner once logged in -->
    
{% endblock %}